
body {
  font-family: "Lato", sans-serif;
    height: 100%;
    color: #7700aa;
    line-height: 1.8;
}

h1, h2, p {
  margin: 0;
  column-rule-color: #ED83B5
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #83A7ED
}

.container {
  width: 80%;
  margin: auto;
}

.link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.link:hover {
  color: #66b032;
}

.highlight {
  color: #66b032;
}


header {
  background: #AE799E;
  border-bottom: #fc600a 3px solid;
  padding: 10px 0;
}

.navbar {

  text-align: left;
  color: #3055A1;
}

.navbar h1 {
  padding: 10px 0;
  color: #1D7987;

}


#landing-page .container {
  width: 100%;
  font-size: 15px;
 }

#landing-highlight {
  display: flex;
  min-height: 100px;
  background-position-y: -400px;
}

.hero-title {
  margin: 0;
  text-align: center;
  font-size:10 ;
  color: #C32D16;
  text-shadow: #000 1px 1px;
}

.point {
  box-sizing: border-box;
  text-align: center;
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
}

.point-title {
  padding: 30px 20px 10px 10px;
}

.point-description {
  padding: 20px;
  line-height: 1.4;
}


.album-card {
  box-sizing: border-box;
  text-align: center;
  margin: 20px auto 10px auto;
  padding-bottom: 10px;
  border: #000 solid 1px;
  box-shadow: 4px 4px 10px #e4e4e4;
  text-decoration: none;
}

.album-card img {
  width: 100%;
  padding-bottom: 10px;
}

.album-link {
  text-decoration: none;
  color: #000;
}

.album-link:hover {
  color: #0247fe;
}

#album-detail {
  margin: 10px auto;
  border: #000 solid 1px;
  max-width: 500px;
  text-align: center;
  box-shadow: 4px 4px 10px #e4e4e4;
}

#album-cover-art {
  width: 100%;
  margin: 20px auto 10px auto;

}

#album-title {
  background-color: white;
  padding: 50px;
  color: #F482C3;
}

.artist {
  font-size: 20px;
  font-style: oblique;
}

.title{
  align-items: left;
  padding: 40px;
  font-family: serif;
  font-size: 30px;
 }

#release-info {
  padding: 5px;
  margin-bottom: 20px;
}

#song-list {
  margin: 5px auto 10px auto;
  color: #91CBF7
}

.song-title {
  text-align: left;
}

.song-duration {
  padding: 0 10px;
}

.song:hover {
  color: #EFF36F;
}



#player-bar-container {
  background: rgba(2, 71, 254, 0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;

 }

#button-container {
  width: 200px;
  margin: auto;
  padding: 100px;

}

#buttons {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  size: 100px;
}

#time-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
}

#volume-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.seek-bar {
  margin:  10px;
  background-color: #74BCEC;
}


@media(max-width: 767px) {
  #album-container {
    width: 80%;
    margin: auto;
  }
}

@media(min-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar nav .link {
    display: inline-flex;
  }

  #landing-highlight {
    min-height: 150px;
    box-shadow: 0 4px 4px #e0e0e0;
  }

  .hero-title {
    font-size: 2.5em;
  }
}


  #player-bar {
    display: flex;
    width: 80%;
    margin: auto;
    max-width: 600px;
    align-items: center;

  }

* {
   font-family:Tahoma;
   box-sizing: border-box;
}
body {
   background-color: #3A637F;
   text-align:center;
   color:#3692D0;

}
h3{
   text-shadow:1px 1px 1px #fff;
}
/* Start  styling the page */
.container-audio {
   width: 66%;
   height: auto;
   padding: 20px;
   border-radius: 5px;
   background-color: #6F9BF3;
   color:#6F9BF3;
   margin: 20px auto;
   overflow: hidden;
}
audio {
 width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
   margin: 0;
}
.container-audio .colum1 {
   width: 100%;
   height: 5em;
   border-radius: 5px;
   margin: 10px 10px 20px 10px;
   display: inline-block;
   position: absolute;
   animation: Rofa 10s infinite ease-in-out;

}
